<div class="register-header">
  <h1>Member Registration</h1>
</div>
<div class="register-container">
  
  
  <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <ng-container *ngIf="memberForm">
        <div *ngFor="let fieldName of fieldOrder">
          <app-label-input 
            [control]="$any(memberForm.get(fieldName))" 
            [FieldName]="fieldName"
            [inputType]="fieldName === 'Address' ? 'textarea' : 'text'"
          />
        </div>
      </ng-container>
    
    </div>

    <div class="button-container">
      <app-button 
        width="full"
        type="submit" 
        btnName="Submit"/>
    </div>
  </form>
</div>