<div class="register-header">
  <h1>Member Registration</h1>
</div>

<div class="register-container">
 
  <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <ng-container *ngIf="fieldOrder.length > 0; else noFields">
        <div *ngFor="let fieldName of fieldOrder">
          <app-label-input 
            [control]="$any(memberForm.get(fieldName)) " 
            [FieldName]="fieldName"
            [inputType]="fieldName === 'Address' ? 'textarea' : 'text'"
            [maxlength]="getMaxLength(fieldName)"
          />
        </div>
      </ng-container>

      <ng-template #noFields>
        <div class="no-fields-message">
          <p>No input fields selected</p>
        </div>
      </ng-template>
    </div>
    
    <div class="button-container" *ngIf="fieldOrder.length > 0" >
      <app-button 
        width="full"
        type="submit" 
        btnName="Submit"/>
    </div>
  </form>
</div>