<div class="form-field">
    <kendo-label [text]="FieldName">
    <ng-container [ngSwitch]="inputType">
        <kendo-textbox [placeholder]="FieldName" *ngSwitchCase="'text'" type="text" [formControl]="control"/>
        <!-- <input > -->
        <kendo-textarea [placeholder]="FieldName" *ngSwitchCase="'textarea'" [formControl]="control" [rows]=4/>
    </ng-container>
</kendo-label>
    <div class="error-container" *ngIf="control.touched && control.errors">
        <div class="error-message" *ngIf="control.errors['required']">
            {{FieldName}} is required
        </div>
        <div class="error-message" *ngIf="control.errors['minlength']">
            {{FieldName}} must be at least {{control.errors['minlength'].requiredLength}} characters
        </div>
        <div class="error-message" *ngIf="control.errors['pattern']">
            Please enter a valid {{FieldName.toLowerCase()}}
        </div>
        <div class="error-message" *ngIf="control.errors['email']">
            Please enter a valid email address
        </div>
    </div>
 </div>
 
    
 